*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 251, 251);
}

#navbar{
    height: 60px;
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-left{
    display: flex;
    justify-content: left;
    align-items: center;
}

#name{
    padding-left: 15px;
    padding-right: 40px;
    font-family: fantasy;
    font-size: 28px;
    color: #DFD0B8;
    cursor: pointer;
}

#search{
    height: 25px;
    width: 180px;
    padding: 3px;
    border: 3px solid #222831;
    background-color: rgb(236, 233, 233);
    border-right: none;
}

#search:hover{
    border-color: rgb(137, 115, 87);
}

#box1{
    height: 31px;
    width: 32px;
    background-color: rgb(231, 191, 72);
    border: 3px solid #222831;
    border-left: none;
}

#box1:hover{
    border-color: rgb(137, 115, 87);
}

#icon{
    height: 8px;
    width: 8px;
    padding: 8px;
    cursor: pointer;
}

#nav-right{
    display: flex;
    justify-content: right;
    align-items: center;
}

#language{
    padding: 7px;
    width: 100px;
    margin-right: 30px;
}

#save{
    height: 34px;
    width: 34px;
    border-radius: 10px;
    margin-right: 30px;
    background-color: black;
    cursor: pointer;
}

#mode{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

#light{
    font-size: 20px;
    cursor: pointer;
}

#dark{
    font-size: 20px;
    padding-right: 25px;
    cursor: pointer;
}

#main1{
    height: 200px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}


#alert-news{
    font-size: 48px;
    font-weight: 600;
    display: inline-block;
    padding-left: 100%;
    animation: moveText 20s linear infinite;
}

@keyframes moveText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#alert-news:hover {
    animation-play-state: paused;
    cursor: pointer;
}

#main2{
    height: 1410px;
}

/* Boxes1 */

#boxes1{
    margin: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#boxes1-one{
    height: 300px;
    width: 300px;
    background-image: url(images/toi.png);
    background-size: cover;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes1-two{
    height: 300px;
    width: 300px;
    background-image: url(images/thehindu.jpeg);
    background-size: contain;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes1-three{
    height: 300px;
    width: 300px;
    background-image: url(images/hindustan_times.jpg);
    background-size: contain;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes1-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 165px;
}

#b1-n1{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}

#b1-n2{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}

#b1-n3{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}

/* Boxes2 */

#boxes2{
    margin: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#boxes2-one{
    height: 300px;
    width: 300px;
    background-image: url(images/jagran.jpg);
    background-size: cover;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes2-two{
    height: 300px;
    width: 300px;
    background-image: url(images/bhaskar.png);
    background-size: contain;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes2-three{
    height: 300px;
    width: 300px;
    background-image: url(images/hindustan.png);
    background-size: contain;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes2-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 165px;
}

#b2-n1{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}

#b2-n2{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}

#b2-n3{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}

/* Boxes3 */
#boxes3{
    margin: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#boxes3-one{
    height: 300px;
    width: 300px;
    background-image: url(images/tnyt.jpg);
    background-size: cover;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes3-two{
    height: 300px;
    width: 300px;
    background-image: url(images/wsj.png);
    background-size: contain;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes3-three{
    height: 300px;
    width: 300px;
    background-image: url(images/wp.png);
    background-size: contain;
    box-shadow: 0px 0px 30px 8px lightgray;
    cursor: pointer;
    border-radius: 20px;
}

#boxes3-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 165px;
}

#b3-n1{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}

#b3-n2{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}

#b3-n3{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: yellowgreen;
}






#footer{
    height: 170px;
    background-color: #222831;
}

#info{
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright{
    padding-top: 25px;
    font-size: 18px;
    color: whitesmoke;
}

#desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: 18px;
    color: whitesmoke;
}

#social{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

#socialic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 18px;
    gap: 20px;
}

#github{
    font-size: 28px;
    color: whitesmoke;
    cursor: pointer;
}

#linkedIn{
    font-size: 28px;
    color: #0a66c2;
    cursor: pointer;
}